body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background: #2e7d32;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header {
  padding: 40px;
  text-align: center;
  background: #e8f5e9;
}

section {
  padding: 30px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #2e7d32;
  color: white;
}

.produk {
  border: 1px solid #ccc;
  padding: 15px;
  max-width: 300px;
}

.harga {
  font-weight: bold;
  color: #2e7d32;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
}

.logo {
  width: 250px;
  margin-bottom: 15px;
}

/* GALERI FOTO BERANDA */
.galeri {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.galeri img {
  width: 250px;
  border-radius: 10px;
}